<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="antlr.runtime" version="2.7.6.2" targetFramework="net451" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net451" />
  <package id="NHibernate" version="3.3.3.4000" targetFramework="net451" />
  <package id="Spring.Core" version="1.2.0.20001" targetFramework="net451" />
</packages>
